extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Load the LISTS from the server

            +task('basic')
                | Push task updates to the server

            +task('optional')
                | Handle list management: adding and removing lists

            +task('optional')
                | Subscribe to task updates via websockets

            +task('optional')
                | Subscribe to list updates via websockets

            +task('optional')
                | Add authentication

            +task('optional')
                | Display a toast (notification) every time a list or task is updated