extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Replace `react-router` with the Redux version

            +task('basic')
                | Normalize the state using `normalizr`

            +task('optional')
                | Convert the state to use immutable objects


