extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                :markdown-it
                    Install `lighthouse` and inspect the page

            +task('basic')
                :markdown-it
                    Register the service worker if to browser supports this feature

            +task('basic')
                :markdown-it
                    Setup caching by handling the `install` and `fetch` events

            +task('optional')
                :markdown-it
                    Create a placeholder page to show before the app loads

            +task('optional')
                :markdown-it
                    Add the "Add to home screen" capability

            +task('optional')
                :markdown-it
                    Max out the lighthouse score

            +task('optional')
                :markdown-it
                    Add offline-first features using `redux-offline`