extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Create a service worker for caching the page

            +task('basic')
                | Add server-rendering for the main application view (no routing)

            +task('basic')
                | Use lighthouse to find out if there are problems

            +task('optional')
                | Create a custom offline page

            +task('optional')
                | Use precache

            +task('optional')
                | Add routing to server-side rendered application